@font-face {
    font-family: "GothamRounded";
    src: url(../fonts/gotham-rounded/GothamRoundedMedium_21022.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "GothamRounded";
    src: url(../fonts/gotham-rounded/GothamRoundedBold_21016.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
}
body {
    width: 1280px;
    margin: 0 auto;
}

.header {

}

.header-menu {
    text-align: center;
}

.header-menu-list{

}

.header-menu-item {
    display: inline-block;
}

.header-menu-href {
    display: inline-block;
    margin: 32px 35px 35px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-family: Roboto, sans-serif;
    color:  #16a085;
    font-size: 18px;
    font-weight: 900;
}

.main {
    margin: 0 0 100px 0;
}

.main-img {
    width: 1280px;
    height: 790px;
    background-image: url(../img/top-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-description {
    width: 1060px;
    margin: 0 auto;
}

.main-heading {
    margin: 59px 0 34px 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.18em;
    font-family: Roboto, sans-serif;
    color:  #373737;
    font-size: 22px;
    font-weight: 900;   
}

.main-text {
    margin: 0 0 41px 0;
    text-align: center;
    letter-spacing: 0.05em;
    font-family: Roboto, sans-serif;
    color: #373737;
    font-size: 16px;
    font-weight: 900;
    line-height: 26px;
}

.button {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px 0 18px 0;
    width: 192px;
    height: 51px;
    border-radius: 3px;
    background-color:  #16a085;
    text-align: center;
}

.button-href {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.18em;
    text-decoration: none;
    font-family: GothamRounded;
    font-size: 12px;
    font-weight: 700;
    color:  #ffffff;    
}

.footer {
    padding: 45px 0 45px;
}

.copyright {
    width: 1060px;
    margin: 0 auto;
    letter-spacing: 0.18em;
    font-family: Roboto;
    color:  #373737;
    font-size: 16px;
    font-weight: 900;
    text-align: right;
}